<div class="center jumbotron">
  <h1>Proclo App</h1>
  <p>
    This is the home page for the Proclo application.
  </p>
  <p>     
    List of current ingredients: <%= link_to "Ingredients", ingredients_path %>
  </p>
</div>
