<div class="center jumbotron">
  <h1> <%= t('static_pages.home.header') %> </h1>
  <p>
    <%= t('static_pages.home.introduction') %>
  </p>
  <p>
    <%= link_to t('ingredients.index.title'), ingredients_path %>
  </p>
  <p>
    <%= link_to t('ingredients.new.title'), new_ingredient_path %>
  </p>
</div>
